<template>
  <v-app class="indigo lighten-3">
    <appNav/>
    <v-content>
        <div class="">
            <img width="100%" height="200" src="./assets/home.jpeg" alt="">
        </div>
        <transition class="router-anim" enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
            <router-view></router-view>
        </transition>
    </v-content>
    <v-footer height="auto">
       <v-card flat tile class="flex">
         <v-card-title class="indigo lighten-1 white--text">
           <strong class="subheading">Get connected with us on social networks!</strong>
           <v-spacer></v-spacer>
           <v-btn icon dark class="mx-3">
             <v-icon size="24px">instagram</v-icon>
           </v-btn>
           <v-btn icon dark class="mx-3">
             <v-icon size="24px">linkedin</v-icon>
           </v-btn>
           <v-btn icon dark class="mx-3">
             <v-icon size="24px">facebook</v-icon>
           </v-btn>
         </v-card-title>
         <v-card-text class="grey lighten-3">
           <v-layout>
             <v-flex xs12 sm3 layout column>
                 <!-- <p>important content about what this company offers and what you would benefit to subscribe to our uplins</p> -->
             </v-flex>
             <v-flex class="jay" xs12 sm6 layout column>
                 <!-- <p>the company log wold be nice here</p> -->
             </v-flex>
             <v-flex xs12 sm3 layout column>
                 <h2>For Updates</h2>
                 <p class="flash white--text">{{response}}</p>
                 <v-text-field label="Email" type='text' v-model="email" placeholder="Enter email"></v-text-field>
                 <v-btn @click="subscibe" class="indigo wave">Subscribe</v-btn>
             </v-flex>
           </v-layout>
         </v-card-text>
         <v-card-actions class="grey lighten-2 jay">
           &copy;2018 — <strong>JeanValJean</strong>
         </v-card-actions>
       </v-card>
     </v-footer>
  </v-app>
</template>

<script>
/* eslint-disable */
import appNav from '@/components/Nav'
import axios from 'axios'
export default {
    data () {
        return{
            email:'',
            response:''
        }
    },
  components: {
    appNav
  },
  methods:{
      subscibe() {
         const sub={
              email:this.email
          }
          axios.post('http://localhost:3000/sub',sub).then(res=>{
              console.log(res.data)
              this.response = res.data
              this.email = ''
          }).catch(e=>{
              console.log(e)
          })
      }
  }
}
</script>
<style>
@import "./assets/animate.css";
    .flash{
        text-align:center;
        background: indigo;
        font-family: serif;
    }
    /* .router-anim-leave-active{
        animation: going 1s;
    }
    .router-anim-enter-active{
        animation: coming 1s;
        animation-delay: .5s;
        opacity: 0;
    }
    @keyframes going {
        from {
            transform: translateX(0);
        }
        to{
            transform: translateX(-50px);
            opacity: 0;
        }
    }
    @keyframes going {
        from {
            transform: translateX(-50px);
            opacity: 0;
        }
        to{
            transform: translateX(0);
            opacity: 1;
        }
    } */
</style>
