<template>
    <v-container class="page">
        <v-layout>
            <v-btn
            raised
            :to="{name:'addCategory'}"> <v-icon>add</v-icon>Category</v-btn>
            <v-flex xs12 sm6 offset-sm3>
                <v-form ref="form" lazy-validation class="mt-4">
                  <v-text-field
                    label="Title"
                    v-model="title"
                    :counter="50"
                    required
                  ></v-text-field>
                  <!-- <v-text-field
                    label="Body"
                    v-model="body"
                    required
                    multi-line
                  ></v-text-field> -->
                  <!-- <vue-ckeditor v-model="body" :config="config" @blur="onBlur($event)" @focus="onFocus($event)"/> -->
                  <editor api-key="1hg5yqci3w7kbf2tvphkna677czbxn1jozftgtwha1of9odn"
                  :init="{selector: 'textarea',plugins:'link wordcount image lists hr', menubar:false}" v-model="body"></editor>
                  <br>
                  <input type="file" name="" @change="selectFile" value="">
                  <div class="" v-for="item in items" :key="item._id">
                      <v-checkbox
                      :value="item._id"
                      :label="item.name"
                      v-model="category"
                      style="box-sizing:border-box"
                      ></v-checkbox>
                  </div>
                  <v-btn color="indigo" @click="createPost">
                    Submit
                  </v-btn>
                </v-form>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
// import Article from '@/services/article'
import axios from 'axios'
import Editor from '@tinymce/tinymce-vue'
// import VueCkeditor from 'vue-ckeditor2'
/* eslint-disable */
export default {
    components: {
      Editor
  },
      data () {
        return {
            config: {
                toolbar: [
                  [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript' ]
              ],
              height: 300
          },
            body: '',
            title: '',
            category: [],
            items:[],
            articleImage:''
        }
    },
    methods: {
      createPost () {
          const fd = new FormData()
          fd.append('body',this.body)
          fd.append('title',this.title)
          fd.append('category',this.category)
          fd.append('image',this.articleImage)
          axios.post('http://178.128.175.75:3000/article',fd).then(res=>{
              alert('Success')
              this.body = '',
              this.title = '',
              this.category = '',
              this.articleImage = '',
              this.$router.push({
                  name: 'Articles'
              })
          })
      },
      selectFile (event) {
          let files = event.target.files
          let filename = event.target.files[0].name
          if (filename.lastIndexOf('.') <= 0) {
              return alert('this is not a valid image')
          }
          const fr = new FileReader()
          fr.readAsDataURL(files[0])
          this.articleImage = files[0]
      },
      onBlur (editor) {
     console.log(editor)
   },
   onFocus (editor) {
     console.log(editor)
   }
  },
  mounted() {
    //do something after mounting vue instance
    axios.get('http://178.128.175.75:3000/category').then(res=>{
        this.items = res.data
    })
}
}
</script>

<style scoped>

</style>
