<template>
        <v-container class="page">
            <v-layout>
                <v-flex class="mt-4 page" xs12 sm8 offset-sm2>
                    <v-btn :to="{name:'Create'}" v-if="$store.state.isUserLoggedIn"><v-icon>add</v-icon> article</v-btn>
                    <v-text-field label="Search Articles" v-model="search" ></v-text-field>
                    <v-card class="mb-4"
                    raised
                    v-for="article in filterArticles"
                    :key="article._id"
                    >
                    <v-card-title class="">
                         <div>
                           <h3 class="headline mb-2 indigo--text" style="cursor:pointer">{{article.title | uppercase}}</h3>
                         </div>
                        </v-card-title>
                        <v-card-text>
                           <p style="font-family:Verdana" :inner-html.prop="article.body | truncate(300, ' ...')"></p>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn flat class="purple--text lighten-3" :to="{name:'Show', params:{
                                articleId :article._id
                                }}"> Read Full Article...</v-btn>
                                <v-spacer></v-spacer>
                        <v-chip color="blue lighten-2" text-color="white">
                          Like <p>{{article.likes}}</p>
                          <v-icon @click="like(articles,article._id)" style="cursor:pointer" right>thumb_up</v-icon>
                        </v-chip>
                            <v-spacer></v-spacer>
                        </v-card-actions>
                     </v-card>
                </v-flex>
            </v-layout>
        </v-container>
</template>

<script>
import axios from 'axios'
/* eslint-disable */
export default {
      data () {
        return {
            text:'',
            articles:[],
            search:''
            // pagination:{
            //     sortBy: 'createdAt',
            //     descending:true
            // }
        }
    },
     mounted() {
         this.getArticles()
  },
  methods: {
      getArticles () {
          axios.get('http://178.128.175.75:3000/article').then(res=>{
              this.articles = res.data
          })
      },
        postComment (articles,id) {
            const comment = {
                text:this.text
            }
          axios.post('http://178.128.175.75:3000/comment/' + id ,comment).then(res=>{
              this.comments = res.data

              window.location.reload()
          })
      },
      like (articles,id) {
          try {
              axios.post('http://178.128.175.75:3000/article/' + id).then(res=>{
                  // console.log(res.data)

                  window.location.reload()
              })
          } catch (e) {
              console.log(e)
          }
      }
  },
  computed: {
      filterArticles () {
          return this.articles.filter((article)=>{
              return article.title.match(this.search)
          })
      }
  }
}
</script>

<style scoped>

</style>
