<template>
    <v-container class="page">
          <div class="jay white--text">
              <h3 class="headline mb-2"> {{article.title | uppercase}} </h3>
              <h4>{{article.category.name}}</h4>
          </div>
        <v-layout>
            <v-flex class="mt-4" xs12 sm10 offset-sm1>
                <div class="pt-2" style="background:white">
                    <img class="ml-5" width="75%" height="50%" :src="'http://178.128.175.75:3000/uploads/article/'+ article.image" alt="">
                </div>
                <v-divider></v-divider>
                <v-card class="mb-4" raised>
                    <v-card-text>
                       <p style="font-family:Verdana" v-html="article.body"></p>
                    </v-card-text>
                    <v-card-actions>
                    <v-chip color="blue lighten-2" text-color="white">
                       <p style="vertical-align:center">{{article.likes}} Likes</p>
                      <v-icon @click="like(article,article._id)" style="cursor:pointer" right>thumb_up</v-icon>
                    </v-chip>
                        <v-spacer></v-spacer>
                        <div class="">
                            <v-btn
                            v-if="$store.state.isUserLoggedIn"
                            class="blue" :to="{name:'Update',
                            params:{
                                articleId: article._id
                            }
                            }"> Update </v-btn>
                            <v-btn v-if="$store.state.isUserLoggedIn"
                             class="red"
                              @click="deleteArticle(article,article._id)">
                               Delete </v-btn>
                        </div>
                    </v-card-actions>
                    <v-btn @click="show = !show">Comment</v-btn>
                    <transition enter-active-class="animated slideInDown" leave-active-class="animated slideOutUp">
                        <v-flex v-show="show" xs12 sm6>
                            <v-card>
                                <v-card-title></v-card-title>
                                <v-card-text>
                                    <v-text-field
                                     v-model="comment.name"
                                     label="Name"
                                     required>
                                    </v-text-field>
                                    <v-text-field
                                     v-model="comment.text"
                                     label="Comment"
                                     required
                                     multi-line>
                                    </v-text-field>
                                </v-card-text>
                                <v-card-actions>
                                    <v-btn @click="postComment(article,article._id)" flat color="light-blue lighten-3">Submit</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-flex>
                    </transition>
                    <v-divider></v-divider>
                    <v-chip> Comments <v-icon style="cursor:pointer" icon large color="blue darken-2">chat</v-icon></v-chip>
                    <v-card class="my-2" v-for="comment in article.comments" :key="comment._id">
                        <v-card-title>
                            <h4>
                                {{comment.name}}
                            </h4>
                        </v-card-title>
                        <v-card-text>
                            <p style="font-family:Arial">{{comment.text}}</p>
                        </v-card-text>
                    </v-card>
                 </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
/* eslint-disable */
var Pusher = require('pusher-js')
import axios from 'axios'
export default {
      data () {
        return {
            articleId:'',
            likes :'Like',
            article:{},
            show: false,
            comment:{
                text:'',
                name: ''
            }
        }
    },
    mounted() {
      const { articleId } = this.$route.params
      axios.get(`http://178.128.175.75:3000/article/${articleId}`).then(res=>{
          this.article = res.data
      })
  },
  methods: {
        postComment (articles,id) {
            const comment = {
                text: this.comment.text,
                name: this.comment.name
            }
          axios.post('http://178.128.175.75:3000/comment/' + id ,comment).then(res=>{
              this.comments = res.data
              window.location.reload()
          })
      },
      like (articles,id) {
          axios.post('http://178.128.175.75:3000/article/' + id,this.likes).then(res=>{
              window.location.reload()
          })
      },
      deleteArticle(article,id){
         // const {articleId} = this.$route.params
         axios.delete('http://178.128.175.75:3000/article/' + id).then(res=>{
             // console.log(res.data)
             this.route.push({
                 name:'Home'
             })
         }).catch(e=>{
             console.log(e)
         })
      }
  }
}
</script>

<style scoped>

</style>
