<template>
    <v-container class="page">
        <v-layout>
            <v-btn
            raised
            :to="{name:'addCategory'}"> <v-icon>add</v-icon>Category</v-btn>
            <v-flex xs12 sm6 offset-sm3>
                <v-form ref="form" lazy-validation class="mt-4">
                  <v-text-field
                    label="Title"
                    v-model="article.title"
                    :counter="50"
                    required
                  ></v-text-field>
                  <!-- <v-text-field
                    label="Body"
                    v-model="article.body"
                    required
                    multi-line
                  ></v-text-field> -->
                  <!-- <vue-ckeditor v-model="body" :config="config" @blur="onBlur($event)" @focus="onFocus($event)"/> -->
                  <editor api-key="1hg5yqci3w7kbf2tvphkna677czbxn1jozftgtwha1of9odn"
                  :init="{selector: 'textarea',plugins:'link wordcount image lists hr', menubar:false}" v-model="body"></editor>
                  <br>
                  <!-- <input type="file" name="" @change="selectFile" value=""> -->
                  <v-btn color="indigo" @click="updatePost">
                    Submit
                  </v-btn>
                </v-form>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
// import Article from '@/services/article'
import axios from 'axios'
import Editor from '@tinymce/tinymce-vue'
// import VueCkeditor from 'vue-ckeditor2'
/* eslint-disable */
export default {
    components: {
      Editor
  },
      data () {
        return {
                config: {
                    toolbar: [
                      [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript' ]
                  ],
                  height: 300
              },
              article:{
                body: '',
                title: ''
            }
        }
    },
    methods: {
      updatePost () {
          const { articleId } = this.$route.params
          // const fd = new FormData()
          // fd.append('body',this.article.body)
          // fd.append('title',this.article.title)
          // fd.append('image',this.article.articleImage)
          axios.put(`http://178.128.175.75:3000/article/${articleId}`,this.article).then(res=>{
              console.log(res.data)
              this.$router.push({
                  name:'Show',
                  params:{
                      articleId
                  }
              })
          })
      },
      selectFile (event) {
          let files = event.target.files
          let filename = event.target.files[0].name
          if (filename.lastIndexOf('.') <= 0) {
              return alert('this is not a valid image')
          }
          const fr = new FileReader()
          fr.readAsDataURL(files[0])
          this.articleImage = files[0]
      }
  },
  mounted() {
      const { articleId } = this.$route.params
      axios.get(`http://178.128.175.75:3000/article/${articleId}`).then(res=>{
          this.article = res.data
      })
}
}
</script>

<style scoped>

</style>
