<template>
    <v-container class="page">
        <v-layout>
            <v-flex xs12 sm6 offset-md3 class="mt-4">
                <form>
                    <v-text-field
                    label="Email"
                    v-model="email"
                    ></v-text-field>
                    <v-text-field
                    label="Password"
                    type="password"
                    v-model="password"
                    ></v-text-field>

                    <v-btn @click="login" class="info">Login</v-btn>
                    <br>
                    <p class="white--text">Register with the link bellow for a full experience...</p>
                    <router-link :to="{ name: 'Register'}">Register</router-link>
                </form>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import axios from 'axios'
/* eslint-disable */
export default {
      data () {
        return {
            email: '',
            password: ''
        }
    },
    methods: {
      login() {
        let user = {
            email:this.email,
            password:this.password
        }
        axios.post('http://178.128.175.75:3000/signin',user).then(res => {
            console.log(res.data)
            this.$store.dispatch('setToken',res.data.token)
            this.$store.dispatch('setUser',res.data.user)
            this.$router.push({
                name:'Home'
            })
        }).catch(e=>{
            console.log(e)
        })
      }
    }
}
</script>

<style scoped>

</style>
