<template>
    <v-container class="page">
        <v-layout>
            <v-flex xs12 sm6 offset-sm3>
                <v-text-field
                 label="Add Category"
                 v-model="name"
                 required
                ></v-text-field>
                <v-btn flat
                class="primary" small
                @click="Add">
                    Create
                </v-btn>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
 /* eslint-disable */
import axios from 'axios'
export default {
  data () {
    return {
        name:''
    }
},
methods: {
  Add() {
      const category ={
          name:this.name
      }
    axios.post('http://178.128.175.75:3000/category',category).then(res=>{
        console.log(res.data)
    })
  }
}
// *347*5*88
}
</script>

<style scoped>

</style>
