<template>
    <v-container>
        <v-layout>
            <v-flex xs12 sm8 class="ml-4 page">
                <div>
                    <h3 class="jay white--text" style="font-family:Tahoma">Top Articles</h3>
                </div>
                <v-card class="mt-2 mb-2"
                raised
                v-for="article in articles"
                :key="article._id"
                >
                    <v-card-title class="jay">
                         <div>
                           <h3 class="headline mb-2 indigo--text" style="cursor:pointer">{{article.title | uppercase}}</h3>

                           <h4>Category: {{article.category.name}}</h4>
                         </div>
                         <v-spacer></v-spacer>
                         <h5>Date Posted: {{article.created_at | moment("  dddd Do MMMM, YYYY")}}</h5>
                    </v-card-title>
                    <v-flex xs12>
                            <v-flex xs4 class="pl-2">
                                    <img width="100%" :src="'http://178.128.175.75:3000/uploads/article/'+ article.image" alt="">
                            </v-flex>
                            <v-spacer></v-spacer>
                            <v-flex xs12>
                                <v-card-text>
                                   <p style="font-family:Verdana" :inner-html.prop="article.body | snippet"></p>
                                   <v-btn class="indigo lighten-3 wave white--text" small flat :to="{name:'Show',params:{
                                       articleId : article._id
                                       }}">read full article ...</v-btn>
                                </v-card-text>
                            </v-flex>
                    </v-flex>
                 </v-card>
            </v-flex>
            <v-toolbar-side-icon class="hidden-md-and-up" @click.stop="drawer = !drawer">more</v-toolbar-side-icon>
            <v-flex xs12 sm3 class="indigo lighten-3 mr-2 ml-2 pt-4 hidden-md-and-down" dark>
                <h3 class="jay white--text" style="font-family:Tahoma">New Articles</h3>
                <v-card xs12 sm3 class="mt-2" v-for="na in newArticle" :key="na.key">
                    <v-card-title class="">
                        <router-link :to="{
                            name: 'Show',
                             params: {
                                 articleId : na._id
                                 }
                                 }"> {{na.title | uppercase}} </router-link>
                                 <v-spacer></v-spacer>
                                 <p>Category:{{na.category.name}}</p>
                    </v-card-title>
                    <v-card-text :inner-html.prop="na.body | truncate(150, ' ...')">
                    </v-card-text>
                </v-card>
                <v-divider></v-divider>
                <div v-show="videos.length > 0" class="">
                    <h3 class="jay white--text" style="font-family:Tahoma">New Videos</h3>
                </div>
                <v-card v-show="videos.length > 0" xs12 sm3 class="mt-2" v-for="vid in videos" :key="vid.key">
                    <v-card-title>
                        {{vid.title}}
                    </v-card-title>
                    <div class="">
                        <video width="100%" height="200" :src="'http://178.128.175.75:3000/uploads/videos/' + vid.filename" controls>

                        </video>
                    </div>
                </v-card>
            </v-flex>
            <v-navigation-drawer
            temporary
            class="indigo lighten-3"
            v-model="drawer"
            enable-resize-watcher
            fixed
            app
            >
                <h3 class="jay white--text" style="font-family:Tahoma">New Articles</h3>
                <v-card xs12 sm3 class="mt-2" v-for="na in newArticle" :key="na.key">
                    <v-card-title class="">
                        <router-link :to="{
                            name: 'Show',
                             params: {
                                 articleId : na._id
                                 }
                                 }"> {{na.title | uppercase}} </router-link>
                                 <v-spacer></v-spacer>
                                 <h5>Category : {{na.category.name}}</h5>
                    </v-card-title>
                    <v-card-text :inner-html.prop="na.body | truncate(150, ' ...')"></v-card-text>
                </v-card>
                <v-divider></v-divider>
                <div class="">
                    <h3 v-show="videos.length > 0" class="jay">Latest Videos</h3>
                </div>
                <v-card xs12 sm3 class="mt-2" v-for="vid in videos" :key="vid.key">
                    <v-card-title>
                        {{vid.title}}
                    </v-card-title>
                    <div class="">
                        <video width="100%" height="200" :src="'http://178.128.175.75:3000/uploads/videos/' + vid.filename" controls></video>
                    </div>
                </v-card>
            </v-navigation-drawer>
        </v-layout>
    </v-container>
</template>
<script>
/* eslint-disable */
import axios from 'axios'
    export default({
        data () {
            return {
                drawer:false,
                articles:[],
                videos:[],
                newArticle:[]
            }
        },
        mounted() {
         this.getArticles()
         this.getVideos()
         this.getLatestArticles()
         // this.scroll(this.article)
      },
      methods: {
          // scroll () {
          //     window.onScroll = (article)=>{
          //         let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight
          //
          //         if (bottomOfWindow) {
          //             axios.get('http://localhost:3000/carousel').then(res=>{
          //                 this.articles.push(res.data[i])
          //             })
          //         }
          //     }
          // },
        getArticles() {
            for (var i = 0; i < 3; i++) {
                axios.get('http://178.128.175.75:3000/carousel').then(res=>{
                    this.articles = res.data
                }).catch(e=>{
                    console.log()
                })
            }
        },
        getVideos () {
            axios.get('http://178.128.175.75:3000/likedVideos').then(res=>{
                this.videos = res.data
            }).catch(e=>{
                console.log(e)
            })
        },
        getLatestArticles () {
            axios.get('http://178.128.175.75:3000/newArticle').then(res=>{
                this.newArticle = res.data
            }).catch(e=>{
                console.log(e)
            })
        }
    }
    // computed:{
    //     shortenedContent:function () {
    //         return this.articles.filter((article)=>{
    //             return article.body.slice(0,50) + '...'
    //         })
    //     }
    // }
    })
</script>
<style>
.jay{
    text-align: center;
}
</style>
