<template>
    <div>
        <v-navigation-drawer
          temporary
          class="indigo lighten-1"
          :mini-variant="miniVariant"
          :clipped="clipped"
          v-model="drawer"
          enable-resize-watcher
          fixed
          app
        >
          <v-list>
              <v-btn
              flat
              :to="{name:'Article'}"
              >Articles <v-icon>bubble_chart</v-icon></v-btn>
              <!-- <v-btn
              flat
              :to="{name:'Video'}"
              >Videos <v-icon>video_library</v-icon></v-btn> -->
              <v-btn
              flat
              :to="{name:'Contact'}"
              >Contact <v-icon>contact_mail</v-icon></v-btn>
              <div class="text-xs-center">
                  <v-menu offset-y>
                    <v-btn  v-if="$store.state.isUserLoggedIn" slot="activator" color="secondary" dark>User Management</v-btn>
                    <v-list>
                        <v-btn
                        flat
                        v-if="!$store.state.isUserLoggedIn"
                        :to="{name:'Register'}"
                        >Sign Up <v-icon>face</v-icon></v-btn>
                        <v-btn
                        flat
                        v-if="!$store.state.isUserLoggedIn"
                        :to="{name:'Login'}"
                        >Sign In <v-icon>lock_open</v-icon></v-btn>
                        <v-btn
                        flat v-if="$store.state.isUserLoggedIn"
                        @click="logout">
                           Logout
                            <v-icon>pan_tool</v-icon>
                         </v-btn>
                    </v-list>
                  </v-menu>
             </div>
          </v-list>
        </v-navigation-drawer>
        <v-toolbar
          app
          :clipped-left="clipped"
          color="transparent"
          dark
        >
          <v-toolbar-side-icon class="hidden-md-and-up" @click.stop="drawer = !drawer"></v-toolbar-side-icon>
          <!-- <v-btn icon @click.stop="miniVariant = !miniVariant">
            <v-icon v-html="miniVariant ? 'chevron_right' : 'chevron_left'"></v-icon>
          </v-btn> -->
          <v-btn flat :to="{name:'Home'}"><v-toolbar-title style="cursor:pointer" v-text="title"></v-toolbar-title></v-btn>

          <v-spacer></v-spacer>
          <v-toolbar-items
          class="hidden-md-and-down"
          >
              <v-btn
              flat
              :to="{name:'Article'}"
              >Articles <v-icon>bubble_chart</v-icon></v-btn>
              <!-- <v-btn
              flat
              :to="{name:'Video'}"
              >Videos <v-icon>video_library</v-icon></v-btn> -->
              <v-btn
              flat
              :to="{name:'Contact'}"
              >Contact  <v-icon>contact_mail</v-icon></v-btn>
              <v-btn
              flat
              v-if="$store.state.isUserLoggedIn"
              @click="logout"
              >Logout <v-icon>pan_tool</v-icon></v-btn>
              <v-btn
              flat
              v-if="!$store.state.isUserLoggedIn"
              :to="{name:'Register'}"
              >Sign Up <v-icon>face</v-icon></v-btn>
              <v-btn
              flat
              v-if="!$store.state.isUserLoggedIn"
              :to="{name:'Login'}"
              >Sign In <v-icon>lock_open</v-icon></v-btn>
          </v-toolbar-items>
        </v-toolbar>
    </div>
</template>

<script>
/* eslint-disable */
export default {
    data () {
      return {
        clipped: false,
        drawer: false,
        fixed: false,
        miniVariant: false,
        title: 'TechMarketer.io'
      }
  },
  methods: {
      logout () {
          this.$store.dispatch('setToken',null)
          this.$store.dispatch('setUser',null)
          this.$router.push({
              name: 'Home'
          })
      }
  }
}
</script>

<style scoped>
.list{
    cursor: pointer;
}
</style>
