<template>
<v-container class="page">
    <v-layout>
        <v-flex sm12 xs12>
            <v-flex class="mt-4" xs12 sm8 offset-sm2>
               <v-flex xs12>
                   <v-text-field
                   label="Email"
                   v-model="email"
                   ></v-text-field>
               </v-flex>
               <v-flex class="" xs12>
                   <v-text-field
                   label="Name"
                   v-model="name"
                   ></v-text-field>
               </v-flex>
               <v-flex xs12>
                   <v-text-field
                   label="Message"
                   v-model="message"
                   multi-line
                   ></v-text-field>
               </v-flex>
                <v-btn @click="contact"> Send <v-icon>send</v-icon> </v-btn>
            </v-flex>
        </v-flex>
    </v-layout>
</v-container>
</template>
<script>
import axios from 'axios'
/* eslint-disable */
    export default({
        data () {
            return {
              message: '',
              name: '',
              email: '',
              subscribe: {
                  email:''
              }
            }
        },
        methods: {
          contact () {
            let message = {
                message: this.message,
                name: this.name,
                email: this.email
            }
            axios.post('http://178.128.175.75:3000/contact',message).then(res=>{
                console.log(res.data)
                this.message = '',
                this.name = '',
                this.email = ''
            })
          }
        }
    })
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
} */
</style>
