<template>
    <v-container class="page">
        <v-layout>
            <v-flex xs12 sm6 offset-md3 class="mt-4">

                <v-text-field v-model="name" label="Name"></v-text-field>

                <label for="file">Select File</label>
                <input type="file"style="display:none" @change="onSelectFile" ref="fileInput"/>

                <v-btn raised class="primary" @click="pickFile">Upload Video</v-btn>
                <v-divider></v-divider>
                <video :src="video" height="150px" controls poster="posterimage.jpg">

                </video>
                <v-divider></v-divider>
                <v-btn
                @click="Upload">
                Upload
                </v-btn>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import axios from 'axios'
 /* eslint-disable */
export default {
      data () {
        return {
            video: '',
            fileUrl: '',
            name: ''
        }
    },
    methods: {
      onSelectFile (event) {
          var files = event.target.files
          let filename = files[0].name
          if (filename.lastIndexOf('.') <= 0) {
              return alert('invalid file format!!')
          }
          const fileReader = new FileReader()
           fileReader.addEventListener('load',()=>{
               this.video = fileReader.result
           })
          fileReader.readAsDataURL(files[0])
          this.fileUrl = files[0]
      },
      pickFile () {
          this.$refs.fileInput.click()
      },
      Upload () {
          // const video = {
          //     name:this.name,
          //     video:this.fileUrl
          // }
          const fd = new FormData()
          fd.append('video',this.fileUrl)
          fd.append('name',this.name)
          axios.post('http://178.128.175.75:3000/video',fd).then(res=>{
              alert('upload successful')
              this.fileUrl = '',
              this.name = ''
          }).catch(e=>{
              console.log(e)
          })
      }
    }
}
</script>

<style scoped>

</style>
