<template>
<v-container class="page">
    <v-layout>
        <v-btn
         v-if="$store.state.isUserLoggedIn"
        :to="{name:'Add'}"> <v-icon>add</v-icon> Video</v-btn>
        <v-flex xs12 sm8 offset-sm2>
            <v-card class="mt-4" dark v-for="video in videos" :key="video.id">
                <v-card-title>
                    {{video.filename}}
                </v-card-title>
                <v-card-media xs12 sm8 offset-sm2 class="">
                    <div>
                        <video class="ml-4 center" width="100%" height="300px" :src="`http://localhost:3000/uploads/videos/${video.filename}`" controls poster="">

                        </video>
                    </div>
                </v-card-media>
                <v-card-actions>
                    <p>{{video.name}}</p>
                    <v-spacer></v-spacer>
                    <v-chip color="blue lighten-2" text-color="white">
                      Like <p>{{video.likes}}</p>
                      <v-icon @click="like(video,video._id)" style="cursor:pointer" right>thumb_up</v-icon>
                    </v-chip>
                        <v-spacer></v-spacer>
                </v-card-actions>
            </v-card>
        </v-flex>
    </v-layout>
</v-container>
</template>

<script>
 /* eslint-disable */
import axios from 'axios'
    export default {
      data () {
        return {
            videos: []
        }
    },
    mounted() {
      //do something after mounting vue instance
      axios.get('http://178.128.175.75:3000/video').then(res=>{
          this.videos = res.data
      })
  },
  methods: {
      like (videos,id) {
          axios.post('http://178.128.175.75:3000/video/' + id).then(res=>{
              // console.log(res)
              window.location.reload()
          })
      }
    }
  }
</script>

<style scoped>

</style>
